.testimonials {
  width: 3.4rem;
  height: 3.8rem;
}

h1 {
  color: var(--bs-primary);
  text-align: center;
  font-size: 1.95313rem;
  font-style: normal;
  font-weight: 700;
  line-height: 138%;
  margin-top: .5rem;
  margin-bottom: 1rem;

  .badge {
    border-radius: 6.25rem;
    border: 1px solid #CBC9D9;
    color: var(--black);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    padding: 0.1875rem 0.75rem;
  }
}

.separator {
  width: 4.65rem;
  height: 0.75rem;
}

.data-card {
  border-radius: 0.5rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 42px 0px rgba(79, 114, 205, 0.15);
  margin-top: 2rem;
  padding: 2rem;
  height: calc(100vh - 352px);

  .language {
    width: 2rem;
    height: 2rem;
  }
}

@media all and (max-height: 375px) {
  .data-card {
    height: auto;
  }
}

::ng-deep {
  .ant-descriptions-view .ant-descriptions-row {
    height: auto;

    &:hover {
      background-color: #FFFFFF;
      cursor: default;
    }
  }

  .ant-descriptions-view .ant-descriptions-row .ant-descriptions-item:first-child, .ant-descriptions-view .ant-descriptions-row .ant-descriptions-item:last-child {
    width: auto;
  }

  .ant-descriptions-item-container {
    flex-direction: column;
  }

  .ant-descriptions-row>td, .ant-descriptions-row>th {
    padding-bottom: 1.5rem;
  }

  .ant-descriptions-item-label {
    color: var(--bs-primary);
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: underline;
  }

  .ant-descriptions-item-label::after {
    content: '';
  }

  .ant-descriptions-item-content {
    margin-top: 1rem;
    color: var(--black);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .ant-empty-description {
    color: var(--bs-danger);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
