<div class="d-flex flex-column align-items-center">
  <img src="../../assets/images/testimonials.svg" alt="Testimonials" class="testimonials">
  <h1 class="d-flex align-items-center">
    <span>Testimonials I've left</span>
    <span class="badge ms-2">{{ paginationData?.total_count }}</span>
  </h1>
  <img class="separator" src="../../assets/images/separator.svg" alt="Separator">
</div>

<div class="data-card">
  <div class="filters-container d-flex flex-column flex-lg-row align-items-lg-center">
    <div class="d-flex align-items-lg-center">
      <a nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="'click'" [nzClickHide]="false" [(nzVisible)]="visible">
        <img [src]="selectedLanguage?.icon_url ?? '../../assets/images/all-languages.png' " alt="All languages icon"
          class="dropdown-image">
        <span nz-icon [nzType]="visible ? 'up' : 'down'"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <nz-radio-group [(ngModel)]="selectedLanguage" (ngModelChange)="onClickLanguage($event)">
              <label nz-radio [nzValue]="language" *ngFor="let language of languages">
                <div class="option">
                  <img [src]="language.icon_url" [alt]="language.title + ' icon'">
                  <span class="title">{{ language.title }}</span>
                  <span class="ms-auto">{{ language.num_exercises }}</span>
                </div>
              </label>
            </nz-radio-group>
          </li>
        </ul>
      </nz-dropdown-menu>

      <nz-input-group [nzPrefix]="prefixIcon">
        <input type="search" nz-input placeholder="Filter by exercise title" (keyup)="search(getValue($event))" />
      </nz-input-group>
      <ng-template #prefixIcon>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>

    <nz-select [(ngModel)]="sortBy" class="ms-lg-auto mt-3 mt-lg-0 d-inline-block" (ngModelChange)="onGetPageData(paginationData.current_page)">
      <nz-option nzValue="newest_first" nzLabel="Sort by Most Recent"></nz-option>
      <nz-option nzValue="oldest_first" nzLabel="Sort by Most Old"></nz-option>
    </nz-select>
  </div>

  <nz-table #testimonialsTable [nzLoading]="isLoadingTestimonials" [nzFrontPagination]="false"
    [nzTotal]="paginationData?.total_count!" [nzPageSize]="20" [nzData]="testimonials" nzTableLayout="fixed"
    [nzItemRender]="paginationTpl" [nzLoadingIndicator]="indicatorTpl" [nzNoResult]="noResultTpl"
    (nzPageIndexChange)="onGetPageData($event)">
    <thead>
      <tr>
        <th>Language</th>
        <th>User</th>
        <th>Testimonial</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let testimonial of testimonialsTable.data" (click)="onSeeTestimonialDetails(testimonial)">
        <td>
          <img class="language" [src]="testimonial?.language?.icon_url" alt="Language icon">
        </td>
        <td>
          <div class="d-flex align-items-center user-infos">
            <img src="../../assets/images/user.svg" alt="User icon">
            <div>
              <h3>{{ testimonial?.mentor }}</h3>
              <p>{{ testimonial?.exercise?.title }}</p>
            </div>
          </div>
        </td>
        <td nzEllipsis class="description"> {{ testimonial?.content }} </td>
        <td>
          <div class="d-flex align-items-center date">
            <span>{{ testimonial?.created_at | dateAgo }}</span>
            <span nz-icon nzType="right" nzTheme="outline" class="ms-auto"></span>
          </div>
        </td>
      </tr>
    </tbody>

    <ng-template #paginationTpl let-type let-page="page">
      <ng-container [ngSwitch]="type">
        <a *ngSwitchCase="'page'">
          <span>{{ page }}</span>
        </a>
        <a *ngSwitchCase="'prev'" class="d-flex align-items-center"
          >
          <span nz-icon nzType="arrow-left" nzTheme="outline" class="me-2"></span>
          <span>Previous</span>
        </a>
        <a *ngSwitchCase="'next'" class="d-flex align-items-center"
          >
          <span>Next</span>
          <span nz-icon nzType="arrow-right" nzTheme="outline" class="ms-2"></span>
        </a>
        <a *ngSwitchCase="'prev_5'">
          <span>...</span>
        </a>
        <a *ngSwitchCase="'next_5'">
          <span>...</span>
        </a>
      </ng-container>
    </ng-template>

    <ng-template #indicatorTpl>
      <img src="../../assets/images/loading-circle.svg" alt="">
    </ng-template>

    <ng-template #noResultTpl>
      <ng-container *ngIf="isLoadingTestimonials">
      </ng-container>
      <ng-container *ngIf="!isLoadingTestimonials">
        <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="'No data record.'"></nz-empty>
      </ng-container>
    </ng-template>

  </nz-table>
</div>
